.downloadcard {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.downloadcard-autortitulo {
  font-size: 1.4em;
}

.DownloadCard-progressbar {
  margin-top: 1em;
}

.DownloadCard .info-wrapper {
  display: flex;
  justify-content: space-between;
}

.DownloadCard .header {
  margin-bottom: 0
}
