@import "../../node_modules/material-ui-sass/material-ui";

.toolbar {
  background-color: $light-blue-500;
}

.downloads-list {
  background-color: #eee;
  padding: 20px;
  flex: 1
}

.download-form-container {
  flex: 1;
  text-align: center;
}

.downloadcard {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.downloadcard-autortitulo {
  font-size: 1.4em;
}

.main-section {
  display: flex;
  width: 100%;
}

.mui-app-bar-title {
  margin-bottom: 0;
}

.no-downloads-message {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.8em;
}
