@import "../../node_modules/material-ui-sass/material-ui";

.toolbar {
  background-color: $cyan-500;
}

.downloads-list {
  background-color: #eee;
  padding: 20px;
}

.downloadcard {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.downloadcard-autortitulo {
  font-size: 1.4em;
}
